/* src/index.css */

@import "tailwindcss";
/* Note: You may need to change the path to fit your project structure */
@plugin './hero.ts';
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}"
@custom-variant dark (&:is(.dark *));

/* 
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 1rem;
} */
